streamlit
pandas
python-docx
openpyxl
pdfplumber
python-pptx
beautifulsoup4
transformers
plotly
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu
sentence-transformers
torch
torchvision
pytz
numpy
matplotlib
pytesseract

