beautifulsoup4
faiss-cpu
langchain-community
langchain-core
langchain-text-splitters
matplotlib
numpy
openpyxl
pandas
pdfplumber
Pillow
plotly
python-docx
python-pptx
pytesseract
pytz
sentence-transformers
streamlit
torch
torchvision
transformers
xlrd
